{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="display-3">ぬまづつーりすとへようこそ。</h1>

<p class="lead">ここは、沼津の情報を網羅し、その場所についての声を収集し、沼津を訪れる人を支えることを目指す場所です!。</p>

<!-- use Flexbox Card Grid by Craig Anthony.(https://codepen.io/mcraiganthony/pen/NxGxqm)-->

<ul class="cards">
    <li class="cards__item">
        <div class="card">
            <div class="card__image card__image--fence"></div>
            <div class="card__content">
                <div class="card__title">Flex</div>
                <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                <button class="btn btn--block card__btn" onclick="location.href='https://techacademy.jp/magazine/'">Button</button>
            </div>
        </div>
    </li>
    <li class="cards__item">
        <div class="card">
            <div class="card__image card__image--river"></div>
            <div class="card__content">
                <div class="card__title">Flex Grow</div>
                <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
                <button class="btn btn--block card__btn">Button</button>
            </div>
        </div>
    </li>
    <li class="cards__item">
        <div class="card">
            <div class="card__image card__image--record"></div>
            <div class="card__content">
                <div class="card__title">Flex Shrink</div>
                <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
                <button class="btn btn--block card__btn">Button</button>
            </div>
        </div>
    </li>
    <li class="cards__item">
        <div class="card">
            <div class="card__image card__image--flowers"></div>
            <div class="card__content">
                <div class="card__title">Flex Basis</div>
                <p class="card__text">This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
                <button class="btn btn--block card__btn">Button</button>
            </div>
        </div>
    </li>
</ul>




{% endblock %}