{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="display-4">ぬまづつーりすとへようこそ。</h1>



<!-- use Flexbox Card Grid by Craig Anthony.(https://codepen.io/mcraiganthony/pen/NxGxqm)-->

<ul class="cards">
    {% for lovenuma in lovenuma_list %}
    <li class="cards__item">
        <div class="card">
            {% if lovenuma.image %}
            <img class="card__image" src="{{ lovenuma.image.url }}">
            {% else %}
            <img class="card__image" src="{% static 'numazutourist/play.jpg' %}">
            {% endif %}
            <div class="card__content">
                <div class="card__title">{{ lovenuma.place.name }}</div>
                <p class="card__text">{{ lovenuma.text }}</p>
                <button class="btn btn--block card__btn" onclick="location.href='{% url 'numazutourist:lovenuma_detail' lovenuma.pk %}'">詳細</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<p class="lead">ここは、沼津の情報を網羅し、その場所についての声を収集し、沼津を訪れる人を支えることを目指す場所です.</p>


{% endblock %}