{% extends "base.html" %}

{% block content %}

<h1>投稿一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>場所</th>
            <th>投稿日時</th>
            <th>投稿者</th>
        </tr>
    </thead>
    <tbody>
        {% for lovenuma in lovenuma_list %}
        <tr>
            <td><a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}">{{ lovenuma.place.name }}</a></td>
            <td>{{ lovenuma.date|date:"Y-m-d" }}</td>
            <td><a href="{% url 'numazutourist:lovenuma_detail' lovenuma.pk %}">{{ lovenuma.user.username }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}