{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="display-4">沼津みなと新鮮館──Everyone can smile.</h1>

<!-- use Flexbox Card Grid by Craig Anthony.(https://codepen.io/mcraiganthony/pen/NxGxqm)-->

<ul class="cards">
  {% for lovenuma in lovenuma_list %}
  <li class="cards__item">
    <div class="card">
      {% if lovenuma.image %}
      <img class="card__image" src="{{ lovenuma.image.url }}" />
      {% else %}
      <img class="card__image" src="{% static 'numazutourist/default.jpg' %}" />
      {% endif %}
      <div class="card__content">
        <div class="card__title">
          <a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}" class="cardLink">
            {{ lovenuma.place.name }}
          </a>
        </div>
        <p class="card__text">{{ lovenuma.text }}</p>
        <button
          class="btn btn--block card__btn"
          onclick="location.href='{% url 'numazutourist:lovenuma_detail' lovenuma.pk %}'"
        >
          More
        </button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<i class="fa-solid fa-sailboat"></i>

<p class="lead">
  ここは、沼津の情報を網羅し、その場所についての声を収集し、沼津を訪れる人を支えることを目指す場所です.
</p>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        Update History
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>　ver1.4 アカウントロック機能を追加、ログインに一定回数失敗するとロックがかかります</p>
        <p>　ver1.3 施設情報追加機能を実装、画面の微修正</p>
        <p>　ver1.2 簡易的なLike機能を追加</p>
        <p>　ver1.1 ユーザー情報追加(動作未確認)</p>
        <p>　ver1.0 サイト公開</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
