{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="display-4">沼津みなと新鮮館──Everyone can smile.</h1>



<!-- use Flexbox Card Grid by Craig Anthony.(https://codepen.io/mcraiganthony/pen/NxGxqm)-->

<ul class="cards">
    {% for lovenuma in lovenuma_list %}
    <li class="cards__item">
        <div class="card">
            {% if lovenuma.image %}
            <img class="card__image" src="{{ lovenuma.image.url }}">
            {% else %}
            <img class="card__image" src="{% static 'numazutourist/default.jpg' %}">
            {% endif %}
            <div class="card__content">
                <div class="card__title"><a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}" class="cardLink">{{ lovenuma.place.name }}</a></div>
                <p class="card__text">{{ lovenuma.text }}</p>
                <button class="btn btn--block card__btn" onclick="location.href='{% url 'numazutourist:lovenuma_detail' lovenuma.pk %}'">More</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


<i class="fa-solid fa-sailboat"></i>

<p class="lead">ここは、沼津の情報を網羅し、その場所についての声を収集し、沼津を訪れる人を支えることを目指す場所です.</p>

<h3>更新履歴</h3>
<p>　ver1.2 Like機能を追加(細かいところ詰めてないです!)</p>
<p>　ver1.1 ユーザー情報追加</p>
<p>　ver1.0 サイト公開</p>
{% endblock %}