{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>投稿一覧</h1>

<form action="" method="get">
    <input name="query" value="{{ request.GET.query }}" tyoe="text">
    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i>検索</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>場所</th>
            <th>投稿日時</th>
            <th>投稿者</th>
        </tr>
    </thead>
    <tbody>
        {% for lovenuma in lovenuma_list %}
        <tr>
            <td><a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}">{{ lovenuma.place.name }}</a></td>
            <td>{{ lovenuma.date|date:"Y-m-d" }}</td>
            <td><a href="{% url 'numazutourist:lovenuma_detail' lovenuma.pk %}">{{ lovenuma.user.username }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="cards">
    {% for lovenuma in lovenuma_list %}
    <li class="cards__item">
        <div class="card">
            {% if lovenuma.image %}
            <img class="card__image" src="{{ lovenuma.image.url }}">
            {% else %}
            <img class="card__image" src="{% static 'numazutourist/play.jpg' %}">
            {% endif %}
            <div class="card__content">
                <div class="card__title"><a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}">{{ lovenuma.place.name }}</a></div>
                <p class="card__text">{{ lovenuma.text }}</p>
                <button class="btn btn--block card__btn" onclick="location.href='{% url 'numazutourist:lovenuma_detail' lovenuma.pk %}'">詳細</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#!">1</a></li>
        <li class="page-item page-item active"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        {% if page_obj.next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}