{% extends "base.html" %}

{% block content %}


<table class="table">
    <tr>
        <th>場所の名前</th>
        <td><a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}">{{ lovenuma.place.name }}</a></td>
    </tr>
    <div class="topimage">
        {% if lovenuma.image %}
            <img src="{{ lovenuma.image.url }}">
        {% endif %}
    </div>
    <tr>
        <th>detail</th>
        <td>{{ lovenuma.text | linebreaksbr }}</td>
    </tr>
    <tr>
        <th>name</th>
        <td>{{ lovenuma.user.username }}</td>
    </tr>
</table>

<p>Like数 :
{{ lovenuma.like_set.all.count() }}</p>

{% endblock %}