{% extends "base.html" %}

{% block content %}


<table class="table">
    <tr>
        <th>場所の名前</th>
        <td><a href="{% url 'numazutourist:place_detail' lovenuma.place.pk %}">{{ lovenuma.place.name }}</a></td>
    </tr>
    <div class="topimage">
        {% if lovenuma.image %}
            <img src="{{ lovenuma.image.url }}">
        {% endif %}
    </div>
    <tr>
        <th>detail</th>
        <td>{{ lovenuma.text | linebreaksbr }}</td>
    </tr>
    <tr>
        <th>name</th>
        <td>{{ lovenuma.user.username }}</td>
    </tr>
    <tr>
        <th>Like数</th>
        <td>{{ lovenuma.like_set.all.count }}</td>
    </tr>
</table>


<form action="{% url 'numazutourist:lovenuma_like' lovenuma.pk %}" method="post">
    <button class="btn" type="submit" name="button">お気に入り追加</button>
    {% csrf_token %}
</form>

{% endblock %}