{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 style="text-align: center;">{{place.name}}</h1>
<table class="table">
    <div class="topimage">
    {% if place.image %}
        <img src="{{ place.image.url }}">
    {% endif %}
    </div>
    <tr>
        <th class="width30"><i class="fa-solid fa-file-lines"></i> 施設詳細</th>
        <td class="width70">{{ place.explain | linebreaksbr }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> 住所</th>
        <td><a href="https://www.google.com/maps/search/?api=1&query={{place.name}}"><i class="fa-solid fa-map-location"></i> {{ place.adress }}</a></td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> 種類</th>
        <td>{{ place.sort }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> 祝日</th>
        <td>{{ place.holidays.number }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> 電話番号</th>
        <td>{{ place.phonenumber }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> 営業時間</th>
        <td>{{ place.opentime }} ~ {{ place.closetime }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> Webサイト</th>
        <td><a href="{{ place.website }}">{{ place.website }}</a></td>
    </tr>
</table>

<a href="{% url 'numazutourist:place_update' place.pk %}">編集する</a>
{% endblock %}