{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 style="text-align: center;">{{place.name}}</h1>
<table class="table">
    <div class="topimage">
    {% if place.image %}
        <img src="{{ place.image.url }}">
    {% endif %}
    </div>
    <tr>
        <th class="width30"><i class="fa-solid fa-file-lines"></i> 施設詳細</th>
        <td class="width70">{{ place.explain | linebreaksbr }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-location-dot"></i> 住所</th>
        <td><a href="https://www.google.com/maps/search/?api=1&query={{ place.adress }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-map-location"></i> {{ place.adress }}</a></td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-filter"></i> 種類</th>
        <td>{{ place.get_sort_display }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-church"></i> 聖地</th>
        <td>{{ place.is_sacred }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-calendar-week"></i> 祝日</th>
        <td>{{ place.holidays.number }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-phone"></i> 電話番号</th>
        <td>{{ place.phonenumber }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-clock"></i> 営業時間</th>
        <td>{{ place.opentime }} ~ {{ place.closetime }}</td>
    </tr>
    <tr>
        <th><i class="fa-brands fa-internet-explorer"></i> Webサイト</th>
        {% if place.website is not None %}
            <td><a href="{{ place.website }}" target="_blank" rel="noopener noreferrer">{{ place.website }}</a></td>
        {% else %}
            <td><a tabindex="-1">{{ place.website }}</a></td>
        {% endif %}
    </tr>
</table>

<a href="{% url 'numazutourist:place_update' place.pk %}">編集する</a>
{% endblock %}